{{ define "main" }}
<section class="hero">
  <div class="container col-xxl-8 g-5">
    {{ $headless := .GetPage "home-headless/index" }}
    {{ range $headless.Pages.ByWeight }}
        {{ $path := printf "%s%s" .File.Dir .File.LogicalName}}
        {{ with .Site.GetPage $path }}
            {{ if .Params.use_partial }}
                {{ $partial_path := printf "blocks/home/%s" .Params.use_partial}}
                {{ partial $partial_path .}}
            {{ else }}
                {{ partial "blocks/home/default.html" .}}
            {{end}}
        {{ end }}
    {{ end }}
  </div>
</section>
{{ end }}
